.fundo-logo {
    background-image: url('imagem-interna-academia_silva.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #f0f0f0;
}

header {
    background-color: #000;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #111;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color: #0084ff;
}

section {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.95);
    color: #000;
    margin: 20px;
    border-radius: 8px;
}

section h2 {
    margin-top: 0;
    color: #222;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Formulário */
form {
    max-width: 500px;
    margin: auto;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #222;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: #444;
}

.botão {
    background-color: #0084ff;
    color: white;
    text-align: center;
    border-radius: 8px;
    text-align: center;
    display: block;
    margin: 20px auto;
    font-size: 20px;
    padding: 15px 30px;
}

section h2 {
    color: #0084ff;
}